// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "llco";
$icons8-font-path: "../fonts";

$icons8-var-black-twitter-logo: "\f134";
$icons8-var-black-twitter-logo-2: "\f135";
$icons8-var-connect: "\f13e";
$icons8-var-connect-2: "\f13f";
$icons8-var-conversation: "\f124";
$icons8-var-conversation-2: "\f125";
$icons8-var-dribbble: "\f11e";
$icons8-var-dribbble-2: "\f11f";
$icons8-var-e-mail: "\f14c";
$icons8-var-e-mail-2: "\f14d";
$icons8-var-facebook-circled: "\f130";
$icons8-var-facebook-circled-2: "\f131";
$icons8-var-facebook-logo: "\f12e";
$icons8-var-facebook-logo-2: "\f12f";
$icons8-var-foursquare: "\f120";
$icons8-var-foursquare-2: "\f121";
$icons8-var-get-quote: "\f152";
$icons8-var-get-quote-2: "\f153";
$icons8-var-github: "\f126";
$icons8-var-github-2: "\f127";
$icons8-var-gmail: "\f144";
$icons8-var-gmail-2: "\f145";
$icons8-var-google-maps: "\f138";
$icons8-var-google-maps-2: "\f139";
$icons8-var-google-plus: "\f11d";
$icons8-var-google-plus-circled: "\f116";
$icons8-var-google-plus-circled-2: "\f117";
$icons8-var-instagram-camera: "\f12c";
$icons8-var-instagram-camera-2: "\f12d";
$icons8-var-linkedin: "\f11c";
$icons8-var-linkedin-circled: "\f136";
$icons8-var-linkedin-circled-2: "\f137";
$icons8-var-location-marker: "\f150";
$icons8-var-location-marker-2: "\f151";
$icons8-var-mail: "\f14a";
$icons8-var-mail-2: "\f14b";
$icons8-var-medium: "\f118";
$icons8-var-medium-2: "\f119";
$icons8-var-news-feed: "\f148";
$icons8-var-news-feed-2: "\f149";
$icons8-var-phone: "\f14e";
$icons8-var-phone-2: "\f14f";
$icons8-var-pinterest-logo: "\f12a";
$icons8-var-pinterest-logo-2: "\f12b";
$icons8-var-quote: "\f154";
$icons8-var-quote-2: "\f155";
$icons8-var-reddit: "\f122";
$icons8-var-reddit-2: "\f123";
$icons8-var-share-symbol: "\f114";
$icons8-var-share-symbol-2: "\f115";
$icons8-var-snapchat: "\f146";
$icons8-var-snapchat-2: "\f147";
$icons8-var-stack-overflow: "\f13c";
$icons8-var-stack-overflow-2: "\f13d";
$icons8-var-star-rating: "\f13a";
$icons8-var-star-rating-2: "\f13b";
$icons8-var-video-play-button: "\f142";
$icons8-var-video-play-button-2: "\f143";
$icons8-var-video-playback: "\f140";
$icons8-var-video-playback-2: "\f141";
$icons8-var-yelp: "\f128";
$icons8-var-yelp-2: "\f129";
$icons8-var-youtube: "\f132";
$icons8-var-youtube-2: "\f133";
$icons8-var-youtube-play-button-logo: "\f11a";
$icons8-var-youtube-play-button-logo-2: "\f11b";
$icons8-var-yutube-media-library: "\f112";
$icons8-var-yutube-media-library-2: "\f113";
