@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,700");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,700");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*!
 * Icon Font llco
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */
@font-face {
  font-family: "llco";
  src: url("../fonts/llco_833849b70a312085ac33e00c6e480123.eot");
  src: url("../fonts/llco_833849b70a312085ac33e00c6e480123.eot?#iefix") format("embedded-opentype"), url("../fonts/llco_833849b70a312085ac33e00c6e480123.woff2") format("woff2"), url("../fonts/llco_833849b70a312085ac33e00c6e480123.woff") format("woff"), url("../fonts/llco_833849b70a312085ac33e00c6e480123.ttf") format("truetype"), url("../fonts/llco_833849b70a312085ac33e00c6e480123.svg#llco") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "llco";
    src: url("../fonts/llco_833849b70a312085ac33e00c6e480123.svg#llco") format("svg"); } }
[data-icons8]:before,
.icons8-facebook:before,
.icons8-get-quote:before,
.icons8-instagram-filled:before,
.icons8-mail-filled:before,
.icons8-marker-filled:before,
.icons8-phone-filled:before,
.icons8-pinterest-filled:before,
.icons8-quote:before,
.icons8-quote-left:before,
.icons8-twitter-filled:before,
.icons8-yelp-filled:before {
  display: inline-block;
  font-family: "llco";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

[data-icons8]:before {
  content: attr(data-icons8); }

.icons8-facebook:before {
  content: ""; }

.icons8-get-quote:before {
  content: ""; }

.icons8-instagram-filled:before {
  content: ""; }

.icons8-mail-filled:before {
  content: ""; }

.icons8-marker-filled:before {
  content: ""; }

.icons8-phone-filled:before {
  content: ""; }

.icons8-pinterest-filled:before {
  content: ""; }

.icons8-quote:before {
  content: ""; }

.icons8-quote-left:before {
  content: ""; }

.icons8-twitter-filled:before {
  content: ""; }

.icons8-yelp-filled:before {
  content: ""; }

html {
  padding: 0;
  margin: 0; }

body {
  background: none;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.08em; }

a, a:hover, a img, a:focus {
  text-decoration: none;
  outline: none;
  border: 0; }

p a {
  display: inline-block;
  font-size: 1.1em;
  color: #585858;
  text-decoration: underline;
  font-weight: 800; }
  p a:hover {
    color: #333; }

img {
  max-width: 100%;
  height: auto; }

hr {
  height: 0;
  clear: both;
  display: block;
  border: 0;
  width: 90%;
  border-top: 1px solid #ECF0F3;
  margin: 3rem 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  padding: 0;
  margin: 0 0 1rem 0;
  font-weight: 400;
  line-height: 2em; }

h1, h3 {
  font-size: 2.25em;
  line-height: 1.15em;
  margin: 1rem 0 2rem 0;
  font-weight: 800; }

h2 {
  font-size: 1em;
  text-transform: uppercase; }

h3 {
  font-size: 3em;
  font-family: "Nunito Sans", sans-serif; }

h4 {
  font-size: 1.15em;
  display: block; }

h5 {
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase; }

h6 {
  font-size: 1.15em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 1rem 0; }

blockquote p {
  color: #ECF0F3;
  font-size: 1.75em !important;
  line-height: 1.15em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.5px; }
  blockquote p strong {
    font-size: .5em;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    display: inline-block;
    letter-spacing: 0.08em; }

article img {
  min-width: 50%; }
article ul {
  display: inline-block;
  margin: 0 0 1rem 3rem;
  padding: 0; }
  article ul li {
    display: block;
    margin: .5em 0;
    position: relative; }
    article ul li:before {
      font-size: 1.5em;
      position: absolute;
      top: 0;
      left: -1.5rem;
      content: '\25cf';
      color: #ECF0F3; }
    article ul li ul {
      margin: 0 0 0 1.25em; }
      article ul li ul li:before {
        content: '\25CB'; }
article ol {
  display: block;
  counter-reset: item;
  list-style: none;
  margin: 0 0 0 1.5em;
  padding: 0; }
  article ol li {
    counter-increment: item;
    position: relative;
    z-index: 1;
    margin: 0 0 2rem 0; }
    article ol li strong {
      font-size: 1.15em; }
    article ol li:before {
      font-weight: 800;
      color: #585858;
      position: absolute;
      top: .75em;
      left: -1.5em;
      font-size: 1.25em;
      line-height: 0;
      text-align: center;
      content: counter(item) "."; }

.textcenter {
  text-align: center !important; }

.textleft {
  text-align: left !important; }

.textright {
  text-align: right !important; }

.alignleft {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 70%; }

.alignright {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 70%; }

@media (max-width: 768px) {
  html, body {
    font-size: 12px; }

  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 1.7em; }

  blockquote p {
    font-size: 1.75em !important; }

  .alignleft, .alignright {
    max-width: 50%; } }
@media (max-width: 576px) {
  .alignleft, .alignright {
    float: none;
    margin: auto;
    display: block; } }
/* wp mce content editor override */
.mce-content-body p, .mce-content-body div, .mce-content-body h1, .mce-content-body h2, .mce-content-body h3, .mce-content-body h4, .mce-content-body h5, .mce-content-body h6 {
  line-height: 2em; }

.nav {
  background: #fff;
  border-top: 1px solid #ECF0F3;
  border-bottom: 1px solid #ECF0F3;
  padding: .25rem 0; }
  .nav .logo {
    color: #333;
    line-height: 1.85em;
    padding: 0;
    display: block;
    font-weight: 300;
    display: inline-block;
    text-align: center; }
    .nav .logo img {
      box-sizing: border-box;
      padding: 0 1.5em; }
    .nav .logo span {
      font-family: 'Nunito', sans-serif;
      display: block;
      margin: -.25em 0 0 0;
      text-align: center;
      font-size: .7em;
      letter-spacing: .3em; }
  .nav nav {
    margin: 1em 0; }
    .nav nav ul {
      display: block;
      margin: 0;
      padding: 0;
      text-align: right; }
      .nav nav ul li {
        display: inline-block;
        border-right: 2px solid #ECF0F3; }
        .nav nav ul li a {
          font-family: "Nunito Sans", sans-serif;
          color: #333;
          text-transform: uppercase;
          font-size: .85em;
          letter-spacing: 1px;
          display: inline-block;
          margin: 0 1.25em;
          padding: 0;
          border-bottom: 2px solid transparent; }
          .nav nav ul li a:hover {
            border-bottom: 2px solid #ECF0F3; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%; }

.tab-btn {
  padding: .25em 1.5em .5em 1.5em;
  opacity: .9;
  margin: 0 .5em;
  border-radius: 0 0 25px 25px;
  color: #fff;
  font-size: .85em;
  text-align: center;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  display: inline-block; }
  .tab-btn i {
    position: relative;
    top: 3px;
    font-size: 1.5em;
    line-height: 1.5em; }
  .tab-btn.sticky, .tab-btn.stuck {
    position: fixed;
    left: -5.75em;
    top: 30%;
    z-index: 99;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .tab-btn:hover {
    color: #333; }

.edit-links {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 99;
  text-align: right; }
  .edit-links a {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: inline-block;
    width: 9em;
    font-size: .75em;
    padding: .8em 1em;
    border-radius: 100px 0 0 100px;
    background: #bbb;
    color: #fff;
    margin: 2px 0;
    position: relative;
    line-height: .75em; }
    .edit-links a span {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      display: inline-block;
      background: #bbb;
      height: 1em;
      width: 1em;
      border-radius: 100px;
      position: absolute;
      top: .4em;
      left: .4em;
      opacity: 0; }
    .edit-links a:hover {
      width: 10em;
      background: #333; }
      .edit-links a:hover span {
        opacity: 1; }

#toggle-nav {
  display: none; }

#close-nav {
  display: none; }

.expand {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  color: #fff;
  font-size: 1.5em;
  line-height: .5em;
  height: 1.5em;
  width: 1.5em;
  font-weight: 800;
  padding: .5em;
  background: #585858; }
  .expand:hover {
    cursor: pointer; }

.account-links ul {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right; }

.account-links li {
  display: inline-block; }

.account-links a {
  display: block;
  padding: .25em;
  border: 0;
  font-size: 1em;
  font-weight: normal; }

.account-links a:hover {
  color: #fff;
  background: #3091bd;
  border: 0; }

@media (max-width: 960px) {
  .nav .container {
    width: 100% !important; }
    .nav .container nav ul li a {
      padding: .25em .5em;
      font-size: .75em; } }
@media (max-width: 768px) {
  header {
    position: fixed;
    z-index: 999;
    width: 100%; }

  #toggle-nav, #close-nav {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    z-index: 99;
    color: #333;
    font-size: 2em;
    font-weight: 800; }
    #toggle-nav:hover, #close-nav:hover {
      cursor: pointer; }

  #close-nav {
    top: .5em;
    right: .5em;
    font-size: 1.5em;
    color: #fff; }

  .nav {
    top: 0; }
    .nav .container {
      padding: 1em 2.5em 0 2.5em; }
      .nav .container .logo {
        height: 5em; }
        .nav .container .logo img {
          margin: 0;
          height: 4em; }
      .nav .container nav {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 80vw;
        z-index: 999;
        margin: 0;
        padding: .25em 0;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: -80vw;
        height: 100vh;
        background: #333;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #333, #333);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #333, #333);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
        .nav .container nav ul {
          padding: 5em 0 0 0; }
          .nav .container nav ul li {
            display: block; }
            .nav .container nav ul li a {
              padding: 1em;
              font-size: 16px;
              display: block;
              text-align: left;
              color: #fff; }
            .nav .container nav ul li ul {
              padding: 0;
              display: none;
              position: static;
              width: auto; }
              .nav .container nav ul li ul li a {
                font-size: 14px;
                padding: .5em 1em; }
            .nav .container nav ul li:hover ul {
              display: none; }
        .nav .container nav.active {
          right: -3px; }
    .nav.sticky, .nav.stuck {
      padding: .85em 0 0 0; } }
@media (max-width: 576px) {
  .tab-btn {
    display: none;
    position: absolute;
    top: -.5em;
    right: 1.5em; }
    .tab-btn.sticky, .tab-btn.stuck {
      position: fixed;
      left: -7em;
      top: 30%;
      width: 150px; }

  input {
    width: auto !important; } }
#main {
  background: #F8F8F8; }

main {
  padding: 0 0 8em 0; }

.header-image {
  height: 25em;
  margin: 0 0 -8em 0; }

.parallax-bg {
  padding: 120px 0 !important; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.wrapper {
  animation-duration: 0.75s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInUp; }

.w-intro {
  background: url("../../images/img-main.jpg") bottom center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%; }

.container {
  max-width: 1024px; }

.boxlink {
  display: inline-block; }

a.boxlink, .boxlink input[type=button] {
  display: inline-block;
  line-height: 2em;
  padding: 1em;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .08em;
  text-align: center;
  width: 185px;
  margin: auto;
  background: transparent;
  position: relative;
  z-index: 99; }
  a.boxlink::before, .boxlink input[type=button]::before {
    content: ' ';
    border: 1px solid #bbb;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
  a.boxlink::after, .boxlink input[type=button]::after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: ' ';
    background: #ECF0F3;
    position: absolute;
    top: .4rem;
    left: .4rem;
    z-index: -1;
    width: 100%;
    height: 100%; }
  a.boxlink:hover::after, .boxlink input[type=button]:hover::after {
    background: #F8F8F8;
    top: 0;
    left: 0; }

.more-less-toggle {
  padding: 1em 0;
  text-align: center; }

.is-exiting .wrapper {
  animation-direction: alternate-reverse; }

.intro-block {
  position: relative;
  overflow: hidden;
  padding: 0 1em;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  margin: 3em 0; }
  .intro-block.quote {
    padding: 5em 3em 2.5em 3em; }
    .intro-block.quote::before {
      content: '\201c';
      font-size: 15em;
      color: #ECF0F3;
      position: absolute;
      top: 2rem;
      left: 52.5%;
      line-height: 1em; }

.content-heading {
  text-align: center;
  padding: 3em; }
  .content-heading strong {
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase; }

.content-subheading {
  text-transform: uppercase;
  margin: 0 0 2em 0;
  font-size: 1.25em;
  letter-spacing: 0.15em; }
  .content-subheading strong {
    font-weight: 800;
    line-height: 1em;
    font-size: 2.25em;
    display: block;
    margin: 0; }

.page-title {
  padding: 24px 1em 0 1em;
  text-align: center;
  opacity: .8;
  color: #fff; }
  .page-title.category-title {
    opacity: 1;
    color: inherit;
    max-width: 600px;
    margin: auto;
    padding: 48px 1em 0 1em; }

section .container {
  background: #fff;
  padding: 2em 4em;
  margin: 4em auto; }
  section .container .grid_breaker {
    margin: 2em 0 -8em 0; }
    section .container .grid_breaker img {
      width: 100%; }

.section-title {
  background: transparent;
  padding: 5em 0 2em 0;
  text-align: center; }
  .section-title .top-title {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 0 0 .5em 0; }
    .section-title .top-title .line {
      height: 2px;
      background: #bbb; }
    .section-title .top-title h2 {
      padding: 0 3em;
      margin: 0; }
  .section-title h3 {
    margin: 0 0 24px 0;
    font-size: 4em; }

[class*='double-diag'] .container {
  z-index: 2; }
[class*='double-diag']:before, [class*='double-diag']:after {
  position: absolute;
  content: '';
  pointer-events: none;
  top: 0;
  left: -25%;
  z-index: 0;
  width: 150%; }
[class*='double-diag']:before {
  height: 50%;
  background: #ECF0F3; }
[class*='double-diag']:after {
  height: 75%;
  background: inherit; }
[class*='double-diag'][class*='--up']:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }
[class*='double-diag'][class*='--up']:after {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }
[class*='double-diag'][class*='--down']:before {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom; }
[class*='double-diag'][class*='--down']:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom; }
[class*='double-diag'][class*='--dark']:before {
  background: #585858; }
[class*='double-diag'][class*='--white']:before {
  background: #fff; }

.wrapper {
  width: 100%;
  float: none;
  clear: both; }

.content-wrapper {
  padding-top: 0; }

.content {
  padding: 2em; }

.title-image {
  display: block;
  text-align: center; }
  .title-image img {
    width: auto; }

.header-img {
  height: 70vh; }
  .header-img #logo {
    position: fixed;
    right: 10vw;
    top: 17vh;
    max-width: 30vw; }

.bg-gray {
  background: #585858; }

.bg-drk {
  background: #333; }

.bg-drk-grad {
  background: #333;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333, #333);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333, #333);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-offwhite-grad {
  background: #F8F8F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ebebeb, #F8F8F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ebebeb, #F8F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 2em; }

.bg-ltgray {
  background: #ECF0F3; }

.color-ltgray {
  color: #ECF0F3; }

.bg-offwhite {
  background: #F8F8F8; }

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0 0 24px 0;
  font-size: .85em; }
  .breadcrumb span {
    text-decoration: underline; }
  .breadcrumb a {
    text-decoration: none;
    color: #333; }
    .breadcrumb a:hover {
      text-decoration: underline; }

[class*="bg-drk"], .dark {
  color: #fff; }

.slider {
  position: relative; }
  .slider .slide {
    height: 100%;
    width: 100%;
    display: block;
    padding: 7em 0 7em 0;
    position: relative;
    top: -4em;
    left: 0;
    margin: 0 0 -8em 0;
    opacity: 1;
    z-index: 1; }
    .slider .slide .slide--content {
      padding: 4em 0 0 0;
      opacity: .9; }
      .slider .slide .slide--content h2 {
        line-height: 1em; }
      .slider .slide .slide--content h3 {
        margin: 0 0 24px 0;
        font-size: 3.75em;
        line-height: 1.15em;
        font-weight: 800; }
      .slider .slide .slide--content h4 {
        font-size: 1.25em;
        line-height: 2em; }
  .slider .inactive {
    opacity: 0;
    left: 5em;
    z-index: -1; }

.slide-up {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  position: relative;
  opacity: 1;
  top: 0; }
  .slide-up.inactive {
    top: 10em;
    opacity: 0; }

.cta-content {
  opacity: .85; }

.testimonials-container {
  padding: 3em 0; }

.testimonial {
  position: relative;
  padding: 4em 2em; }
  .testimonial::before {
    content: '\201c';
    font-size: 20em;
    color: #ECF0F3;
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: -1;
    line-height: 1em; }
  .testimonial .text {
    font-style: italic;
    padding: 0 0 0 1.5em;
    text-align: center;
    font-size: 1.15em;
    line-height: 2em; }
  .testimonial .author {
    padding: 1.5em 0 0 1.75em; }

ul.slick-dots {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center; }
  ul.slick-dots li {
    display: inline-block;
    padding: 0;
    margin: 6px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: #ECF0F3; }
    ul.slick-dots li.slick-active {
      background: #585858; }
    ul.slick-dots li button {
      opacity: 0; }

.after-content-links {
  margin: 24px 0;
  font-size: 0; }
  .after-content-links a {
    margin: 0 1em 1em 0 !important;
    background: #fff;
    border-color: transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 11.9px; }
  .after-content-links .box-item {
    margin: 48px 0 0 0 !important;
    box-shadow: none;
    color: #333;
    width: 24.5%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    background: #fff;
    text-align: left;
    padding: 2em;
    border: 1px solid transparent;
    border-right: 1px solid #F8F8F8;
    line-height: 1.5em;
    height: 20em; }
    .after-content-links .box-item .title h2 {
      display: inline-block;
      vertical-align: bottom;
      font-weight: bold;
      width: 65%;
      text-align: left;
      line-height: 1.15em;
      font-size: 1em;
      margin: 0 0 2em 0; }
    .after-content-links .box-item .title .image {
      text-align: center;
      vertical-align: bottom;
      margin: 1em 0;
      display: inline-block;
      width: 30%; }
    .after-content-links .box-item:hover {
      background: #F8F8F8;
      border-color: #ECF0F3; }

.btn-outline-primary {
  border: 1px solid #333;
  padding: 1em 2em;
  display: inline-block;
  min-width: 200px;
  border-radius: .5em;
  text-align: center;
  margin: 2em 24px 2em 0;
  font-size: 1em;
  letter-spacing: .5px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase; }
  .btn-outline-primary:hover {
    border: 1px solid #333;
    border-color: transparent;
    color: #fff; }
  .btn-outline-primary.btn-orange {
    border: 1px solid transparent !important; }
    .btn-outline-primary.btn-orange:hover {
      border: 1px solid #fff !important;
      background: #585858; }

.dark .btn-outline-primary {
  border: 1px solid #fff; }
  .dark .btn-outline-primary:hover {
    display: inline-block; }

main {
  overflow: hidden; }

article {
  margin: 0 0 48px 0; }

.info-block {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%; }

.dark {
  color: #fff; }

iframe {
  width: 80%;
  margin: auto; }

.newsletter-signup h3 {
  margin: 0; }

.footer-block a {
  display: block;
  color: inherit; }
  .footer-block a:hover {
    text-decoration: underline; }
.footer-block ul, .footer-block li {
  display: block;
  padding: 0;
  margin: 0; }
  .footer-block ul li, .footer-block li li {
    margin: 0 0 .5em 0; }
.footer-block .social-links {
  margin: 0; }
  .footer-block .social-links a {
    display: inline-block;
    color: #fff;
    padding: .5em .5em .5em 0; }
    .footer-block .social-links a i {
      font-size: 2em; }

.pagination a, .pagination span {
  color: #333;
  display: inline-block;
  padding: 1em 1.25em 1em .75em;
  margin: 12px 0;
  height: 1em;
  line-height: 0;
  box-sizing: border-box;
  text-align: center; }
  .pagination a.page-numbers, .pagination span.page-numbers {
    width: 1em; }
  .pagination a.next, .pagination a.prev, .pagination span.next, .pagination span.prev {
    width: auto; }
  .pagination a:hover, .pagination span:hover {
    text-decoration: underline; }
.pagination span {
  color: #fff;
  background: #333; }

.copyright-block {
  padding: .5em 0; }
  .copyright-block span {
    display: inline-block; }
  .copyright-block ul {
    padding: 0;
    margin: 0;
    display: block; }
    .copyright-block ul li {
      padding: 0;
      margin: 0 0 0 12px;
      display: inline-block; }
      .copyright-block ul li a {
        color: #333; }
        .copyright-block ul li a:hover {
          text-decoration: underline; }

.sidebar {
  margin-top: 48px;
  padding-top: 12px;
  border-left: 1px solid #ECF0F3; }

.sidebar--section {
  position: relative;
  border-bottom: 1px solid #ECF0F3; }
  .sidebar--section .links-container .open-container {
    padding: 0 0 12px 0; }
  .sidebar--section .show-hide {
    position: absolute;
    top: .25em;
    right: -1.5em;
    z-index: 9;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    line-height: .75em;
    text-align: center;
    font-weight: 800;
    padding: 5px;
    color: #fff; }
    .sidebar--section .show-hide:hover {
      cursor: pointer;
      background: #333; }

.section-links {
  margin: 24px 0; }
  .section-links a {
    color: #585858;
    font-size: 1.15em;
    font-weight: 700; }
    .section-links a:hover, .section-links a.active {
      color: #333; }

.categories, .sidebar--section {
  margin: 1em 0 0 0;
  padding: 24px 0; }
  .categories a:hover, .sidebar--section a:hover {
    color: #333; }
  .categories h5, .sidebar--section h5 {
    line-height: 1.15em;
    text-transform: none; }
    .categories h5 a, .sidebar--section h5 a {
      margin: 0;
      padding: 0;
      color: #333; }
  .categories ul, .sidebar--section ul {
    display: block;
    padding: 0;
    margin: 0 0 1em 0; }
  .categories li, .sidebar--section li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative; }
    .categories li a, .sidebar--section li a {
      display: inline-block;
      border-bottom: 3px solid transparent;
      color: #585858;
      padding: 0;
      margin: .25em 0 .25em 1em;
      line-height: 1.15em; }
      .categories li a:before, .sidebar--section li a:before {
        content: '- ';
        position: absolute;
        left: 0;
        top: .25em; }

.shadow-btn-container {
  position: relative;
  display: inline-block; }
  .shadow-btn-container * {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .shadow-btn-container .box-btn {
    display: block;
    padding: .25em 2em;
    border: 1px solid #333;
    text-align: center;
    background: none;
    color: #333;
    min-width: 130px; }
  .shadow-btn-container .shadow {
    background: #F8F8F8;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .shadow-btn-container:hover .box-btn {
    color: #fff; }
  .shadow-btn-container:hover .shadow {
    background: #333;
    color: #ffffff;
    top: 5px;
    left: 5px; }

.posts-container {
  position: relative; }
  .posts-container .post-types-filter {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    border: 1px solid red;
    top: 37vh;
    right: -100px; }
    .posts-container .post-types-filter ul {
      display: block;
      margin: 0;
      padding: 0; }
    .posts-container .post-types-filter li {
      display: inline-block;
      border-right: 1px solid #333; }
      .posts-container .post-types-filter li:last-child {
        border: 0; }
    .posts-container .post-types-filter a {
      display: block;
      padding: .25em 1em; }
      .posts-container .post-types-filter a.inactive {
        color: red; }

.mobile-only {
  display: none; }

@media (max-width: 960px) {
  .sidebar--section {
    position: relative; }
    .sidebar--section .show-hide {
      right: -2em; }

  .bg-img-half {
    padding: 2rem 0; }

  .container {
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 3em; }

  .after-content-links .box-item {
    width: 49.5%; } }
@media (max-width: 768px) {
  .full-only {
    display: none; }

  .mobile-only {
    display: block; }

  #main {
    padding: 8em 0 0 0; }

  .w-header .container, section .container {
    box-sizing: border-box;
    padding: 1em;
    margin: 3em 1em; }

  .section-title {
    padding: 2em 0; }
    .section-title .top-title h2 {
      padding: 0 1em;
      font-size: 1.15em; }
    .section-title h3 {
      font-size: 2.5em; }

  .bg-img-half {
    background: #fff !important; }
    .bg-img-half img {
      max-width: 75%;
      margin: auto; }
    .bg-img-half.quote::before {
      content: ''; }
    .bg-img-half.intro-block {
      margin: 0; }

  .slider {
    min-height: 0; }
    .slider .slide {
      padding: 5em 0;
      position: relative;
      top: -5em;
      margin: 0 0 -10em 0; }

  .content-heading {
    padding: 1.5em; }
    .content-heading strong {
      display: block;
      font-size: 2.5em; }

  .content-subheading strong {
    font-size: 1.5em; }

  .btn-outline-primary {
    margin: 1em 1em 1em 0; } }
@media (max-width: 576px) {
  .sidebar {
    border-left: 0;
    border-top: 1px solid #ccc; }

  .slider .slide .slide--content h3 {
    margin: 0 0 24px 0;
    font-size: 2.75em;
    line-height: 1.15em;
    font-weight: 800; }
    .slider .slide .slide--content h3 strong {
      font-style: normal;
      font-weight: normal;
      font-family: "Nunito Sans", sans-serif;
      text-transform: lowercase;
      display: block;
      font-size: .85em;
      line-height: 1.15em; }

  .testimonial {
    padding: 0 1em;
    margin: 2em 0; }
    .testimonial .text {
      font-style: italic;
      padding: 0 0 0 1.5em;
      text-align: left;
      font-size: 1em;
      line-height: 2em; }
      .testimonial .text:before, .testimonial .text:after {
        font-size: 1.75em; }

  .parallax-bg {
    padding: 48px 0 !important; }

  .double-diag:before {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  .double-diag:after {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }

  .container {
    padding: 1em 2.5em; }

  .btns-container {
    display: none; }

  .after-content-links .box-item {
    width: 100%; } }
.category-links {
  margin: 2rem 0 0 0; }
  .category-links ul {
    display: block;
    text-align: center; }
    .category-links ul li {
      display: inline-block;
      border-right: 2px solid #ECF0F3; }
      .category-links ul li:last-child {
        border: 0; }
      .category-links ul li a {
        display: block;
        text-transform: uppercase;
        padding: 0 2em;
        font-size: 1.15em;
        color: #333;
        text-decoration: underline; }
        .category-links ul li a:hover {
          font-weight: bold; }

.post-list-item, .post-single-item {
  margin: 24px 0; }
  .post-list-item .text, .post-single-item .text {
    margin: 12px 0; }
  .post-list-item .image, .post-single-item .image {
    position: relative;
    height: 0;
    overflow: hidden;
    display: block;
    padding-bottom: 50%;
    margin: 0 0 48px 0; }
    .post-list-item .image img, .post-single-item .image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
  .post-list-item a, .post-single-item a {
    color: #333; }
    .post-list-item a:hover, .post-single-item a:hover {
      text-decoration: underline; }
  .post-list-item .social-links, .post-single-item .social-links {
    margin: 12px 0; }
    .post-list-item .social-links a, .post-single-item .social-links a {
      font-size: 1.25em; }

.post-grid-item {
  margin: 6em 0;
  position: relative; }
  .post-grid-item * {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .post-grid-item .date {
    position: absolute;
    top: 1.5em;
    padding: .5em;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 800;
    opacity: .8;
    left: 0;
    z-index: 10;
    background: #F8F8F8; }
  .post-grid-item .image {
    display: block;
    height: 30em;
    width: auto;
    overflow: hidden;
    margin: 0;
    position: relative;
    z-index: 1;
    background-size: cover !important; }
  .post-grid-item:nth-child(odd) .content {
    left: -3em; }
  .post-grid-item:nth-child(even) .content {
    right: -3em; }
  .post-grid-item .content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background: #fff;
    position: absolute;
    bottom: -3em;
    width: 70%;
    z-index: 2;
    padding: 1em 1em 3em 1em; }
    .post-grid-item .content .title {
      display: block;
      color: #333; }
      .post-grid-item .content .title h3 {
        font-weight: 800;
        font-size: 1.15em;
        text-transform: uppercase;
        height: 3em;
        color: #333;
        margin: 0; }
    .post-grid-item .content .category {
      height: 3em;
      line-height: 1.25em; }
      .post-grid-item .content .category a {
        color: #585858;
        display: inline-block;
        text-transform: uppercase;
        font-size: .85em; }
    .post-grid-item .content .text {
      font-size: .85em;
      height: 6.5em;
      opacity: 1; }
    .post-grid-item .content .link {
      position: absolute;
      bottom: 0;
      left: 1.25em;
      opacity: 0;
      color: #333;
      font-size: .85em; }
  .post-grid-item:hover .title {
    text-decoration: underline; }
  .post-grid-item:hover .content {
    padding: 1em 1em 6em 1em; }
  .post-grid-item:hover .text {
    opacity: .2; }
  .post-grid-item:hover .link {
    opacity: 1; }

.hide-date .post-grid-item .date {
  display: none; }
.hide-date .post-grid-item .image {
  height: 15em; }

.hide-excerpt .post-grid-item .content .title h3 {
  font-weight: 600; }
.hide-excerpt .post-grid-item .content .text {
  display: none; }

.hide-categories .post-grid-item .content .category {
  display: none; }

.category-wrapper {
  margin: 2em 0;
  padding: 2em 0; }
  .category-wrapper .post-grid-item {
    margin: 0 0 2em 0; }

@media (max-width: 768px) {
  .post-grid-item {
    max-width: 350px;
    margin: 6rem auto; }
    .post-grid-item:nth-child(odd) .content {
      left: -1.5em;
      width: 85%; }
    .post-grid-item:nth-child(even) .content {
      right: -1.5em;
      width: 85%; }

  .post-list-item, .post-single-item {
    margin: 6rem auto; } }
.site-overlay {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  background: rgba(2, 2, 2, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999; }
  .site-overlay .modal-box {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    width: 50%;
    position: absolute;
    top: 15vh;
    left: 25%;
    padding: 5em 3em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: .5em; }
    .site-overlay .modal-box .btn {
      margin: 0; }
    .site-overlay .modal-box #close-overlay {
      color: #333;
      font-weight: 800;
      padding: .5em;
      border-radius: .5em;
      border: 1px solid #ECF0F3;
      line-height: 1em;
      background: #fff;
      position: absolute;
      top: 1em;
      right: 1em; }
      .site-overlay .modal-box #close-overlay:hover {
        cursor: pointer; }
    .site-overlay .modal-box.email-capture {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/img2.jpg") center center no-repeat;
      background-size: cover;
      color: #fff; }
  .site-overlay.inactive {
    opacity: 0;
    pointer-events: none; }
    .site-overlay.inactive .modal-box {
      top: 25vh; }

.contact-form .submit-wrap {
  display: none !important; }

.nf-error-msg, .ninja-forms-req-symbol {
  font-size: .75em;
  line-height: 1em; }

.form {
  font-weight: 400; }
  .form div {
    padding: 0;
    margin: 0; }
  .form .title {
    text-align: center; }
  .form .hidden {
    display: none; }
  .form.bg-white {
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 2em;
    margin: 2em auto;
    background: #fff; }
  .form em {
    font-size: .65em;
    line-height: 1.15;
    display: block;
    margin: 12px 0; }
  .form .checkbox {
    padding: .25em .75em 0 .75em;
    background: #F8F8F8;
    border-radius: 5px;
    border: 2px solid #ccc; }
  .form ul {
    display: block;
    padding: 0;
    margin: 0; }
    .form ul li {
      display: inline-block;
      padding: 0;
      margin: 0 24px;
      font-size: 1.15em; }
  .form input, .form textarea {
    border-radius: 5px;
    border: 1px solid #ECF0F3;
    box-sizing: border-box;
    margin-bottom: 12px !important;
    font-size: .9em;
    padding: .5em;
    letter-spacing: .08em;
    max-width: 100%; }
    .form input[type=checkbox], .form textarea[type=checkbox] {
      margin: 0 .5em 0 0;
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15);
      background: #585858; }
    .form input[type=text], .form input[type=email], .form input[type=tel], .form input[type=password], .form textarea[type=text], .form textarea[type=email], .form textarea[type=tel], .form textarea[type=password] {
      padding: .75em 1em;
      width: 100%;
      background: #F8F8F8; }
    .form input[type=submit], .form input[type=button], .form textarea[type=submit], .form textarea[type=button] {
      -webkit-transition: 0.25s ease all;
      -moz-transition: 0.25s ease all;
      -o-transition: 0.25s ease all;
      transition: 0.25s ease all;
      padding: .75em 3em;
      color: #333;
      background: #fff;
      text-transform: uppercase;
      border: 1px solid #333; }
      .form input[type=submit]:hover, .form input[type=button]:hover, .form textarea[type=submit]:hover, .form textarea[type=button]:hover {
        color: #fff;
        border-color: transparent; }
    .form input::placeholder, .form textarea::placeholder {
      letter-spacing: .08em;
      font-size: 11px;
      font-weight: 700; }
  .form textarea {
    box-sizing: border-box;
    padding: .75em 1em;
    width: 100%;
    background: #F8F8F8;
    min-height: 3em; }
  .form .list-radio-wrap {
    margin: 0 0 12px 0 !important; }
    .form .list-radio-wrap .nf-field-label {
      width: 100% !important; }
    .form .list-radio-wrap label {
      border-radius: 5px;
      border: 1px solid #ECF0F3;
      display: inline-block;
      font-weight: 400;
      padding: .75em 1em;
      background: #F8F8F8; }
    .form .list-radio-wrap ul {
      font-size: 0; }
      .form .list-radio-wrap ul li {
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ECF0F3;
        display: inline-block;
        font-weight: 400;
        padding: .5em 1em !important;
        margin: 0 12px 0 0 !important;
        background: #F8F8F8; }
        .form .list-radio-wrap ul li input {
          margin: 0 !important; }
        .form .list-radio-wrap ul li label {
          border-radius: 0;
          border: 0;
          padding: 0; }
  .form .nf-form-fields-required {
    font-size: .85em;
    display: none; }
  .form .nf-after-field .nf-error-msg {
    height: 0 !important;
    position: relative;
    top: -10px; }
  .form [class^='wppb'] ul {
    display: block;
    margin: 0;
    padding: 0; }
    .form [class^='wppb'] ul li {
      margin: 0 1em;
      width: 45%;
      padding: 0;
      position: static; }
      .form [class^='wppb'] ul li:before {
        content: ''; }
    .form [class^='wppb'] ul h4 {
      margin: 2em 0 0 0; }
    .form [class^='wppb'] ul [class*='-heading'] {
      display: block; }
    .form [class^='wppb'] ul label {
      float: none;
      width: auto; }
    .form [class^='wppb'] ul .wppb-default-biographical-info {
      width: 94%; }

@media (max-width: 768px) {
  .site-overlay .modal-box {
    width: 90%;
    left: 5%; } }
@media (max-width: 576px) {
  .sidebar {
    border-left: 0; }

  .btns-container {
    display: none; }

  input {
    width: 100% !important; }

  .form.bg-white {
    margin: .5em; }

  .site-overlay .modal-box {
    padding: 3em;
    top: 1em; }

  #mc-embedded-subscribe-form input[type=email] {
    width: 100% !important; } }

/*# sourceMappingURL=styles.css.map */
