.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }
  .align-center hr {
    margin: 2rem auto; }

.darken {
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -o-filter: brightness(0.7);
  filter: brightness(0.7); }

.scroller {
  padding: 0;
  height: 14rem;
  position: relative;
  width: 100vw;
  overflow: hidden; }
  .scroller .text {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    width: 1000%;
    font-size: 10rem;
    line-height: 1em;
    letter-spacing: .2rem; }
    .scroller .text span {
      display: inline; }

.parallax-bg {
  padding: 120px 0 !important; }

.js-slider {
  margin: 0; }
  .js-slider .slick-list {
    padding: 96px 0 !important; }
  .js-slider .slide {
    margin: 0px 20px;
    box-sizing: border-box; }
    .js-slider .slide.slick-slide {
      -webkit-transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all;
      margin: 0;
      transform: scale(0.8);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      opacity: .75;
      z-index: 1;
      position: relative; }
    .js-slider .slide.slick-center {
      transform: scale(1.5);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.65);
      z-index: 9;
      opacity: 1; }

.img-bg-grad {
  margin: 2rem;
  position: relative;
  top: -2rem;
  left: -2rem; }
  .img-bg-grad::after {
    background: #ec7153;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfec53, #ec7153);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfec53, #ec7153);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 2rem;
    left: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 25px; }
  .img-bg-grad img {
    width: 100%;
    border-radius: 25px; }

.header-img-grad {
  position: relative;
  background-size: cover !important; }
  .header-img-grad:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #511709;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b5109, #511709);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b5109, #511709);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: .6; }

.hero-text h1 {
  font-weight: 600;
  font-size: 4rem; }

.hero-text h2 {
  font-weight: 600;
  font-size: 1.25rem; }

.hero-text hr {
  margin: 2rem auto;
  border-color: #fff;
  border-width: 1px; }

.hero-text h4 {
  font-weight: 600;
  font-size: 1.65rem;
  max-width: 25em;
  margin: auto; }

.wrapper {
  background-color: #F8F8F8;
  padding: 2rem;
  position: relative;
  overflow: hidden; }
  .wrapper.default-page {
    padding: 1rem 0 0 0; }

.w-footer {
  background: #fff;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.15); }

.bg-img {
  background-position: center center !important;
  background-size: cover !important;
  padding: 6rem 0 10rem 0; }
  .bg-img .logo {
    max-width: 300px;
    margin: 2rem 0; }

.container {
  max-width: 2000px;
  width: 100%;
  padding: 3.5rem;
  margin: auto;
  position: relative; }

.overlap-previous {
  position: relative;
  top: -4rem;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.svg-container {
  position: relative; }
  .svg-container .pattern-overlay {
    background: url(../../images/pattern-icon-overlay.png);
    position: absolute;
    top: 0;
    left: 0; }

.full-spacer {
  margin: 8rem 0; }

.bg-svg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  overflow: visible !important; }
  .bg-svg[class*='pos-'][class*='hom-'][class*='02'] {
    top: 10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw; }
  .bg-svg[class*='pos-'][class*='or-'][class*='02'] {
    top: 10vh;
    left: -10vw;
    height: 120vh;
    width: 130vw; }

.content-container {
  border-radius: 70px;
  position: relative;
  z-index: 1;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 5em 3em; }
  .content-container .content-container {
    padding: 2em 6em;
    margin: 0 0 4rem 0; }

img.extra-wide {
  width: 125%;
  max-width: 125%;
  position: relative;
  right: -4rem; }

span {
  display: inline-block; }

.content-heading {
  text-align: center;
  padding: 3em; }
  .content-heading strong {
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase; }

.content-subheading {
  text-transform: uppercase;
  margin: 0 0 2em 0;
  font-size: 1.25em;
  letter-spacing: 0.15em; }
  .content-subheading strong {
    font-weight: 800;
    line-height: 1em;
    font-size: 1.75em;
    display: block;
    margin: 0; }

.page-title {
  padding: 24px 1em 0 1em;
  text-align: center;
  opacity: .8;
  color: #fff; }
  .page-title h2 {
    color: #fff; }
  .page-title h1, .page-title h3 {
    color: #4a4949; }
  .page-title.category-title {
    opacity: 1;
    color: inherit;
    max-width: 600px;
    margin: auto;
    padding: 48px 1em 0 1em; }

.big-title {
  font-size: 3.5em;
  font-weight: 800;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6); }

.bigger-link {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  color: #596469; }

.icon {
  max-width: 6em; }

.intro-text {
  max-width: 40em; }

[class*='double-diag'] .container {
  z-index: 2; }

[class*='double-diag']:before, [class*='double-diag']:after {
  position: absolute;
  content: '';
  pointer-events: none;
  top: 0;
  left: -25%;
  z-index: 0;
  width: 150%; }

[class*='double-diag']:before {
  height: 50%;
  background: #bdb6b0; }

[class*='double-diag']:after {
  height: 75%;
  background: inherit; }

[class*='double-diag'][class*='--up']:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }

[class*='double-diag'][class*='--up']:after {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }

[class*='double-diag'][class*='--down']:before {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom; }

[class*='double-diag'][class*='--down']:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom; }

[class*='double-diag'][class*='--dark']:before {
  background: #808285; }

[class*='double-diag'][class*='--white']:before {
  background: #fff; }

.content-wrapper {
  padding-top: 0;
  border-top: 1px solid #4a4949;
  padding-bottom: 0;
  background: linear-gradient(to right, #fff 75%, #F8F8F8 75%); }

.content {
  padding: 2em; }

.title-image {
  display: block;
  text-align: center; }
  .title-image img {
    width: auto; }

.header-img {
  height: 70vh; }
  .header-img #logo {
    position: fixed;
    right: 10vw;
    top: 17vh;
    max-width: 30vw; }

.bg-orange {
  background: #33424F; }

.bg-green {
  background: #33424F; }

.bg-gray {
  background: #808285; }

.bg-drkblue {
  background: #33424F; }

.bg-drkgreen {
  background: #33424F; }

.bg-drk {
  background: #4a4949; }

.color-black {
  color: #4a4949;
  border-color: #4a4949; }

.bg-drk-grad {
  background: #4a4949;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4a4949, #4a4949);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4a4949, #4a4949);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg-lt-grad {
  background: #F8F8F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c0c0c4, #F8F8F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c0c0c4, #F8F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid #4a4949; }

.bg-offwhite-grad {
  background: #F8F8F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ebebeb, #F8F8F8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ebebeb, #F8F8F8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 2em; }

.bg-ltgray {
  background: #bdb6b0; }

.color-ltgray {
  color: #bdb6b0; }

.bg-offwhite {
  background: #F8F8F8; }

.bg-logopattern {
  background: #fff url(/wp-content/themes/robinetpt/images/logo-offwhite-30.png);
  background-size: 100px; }

.bg-computer {
  background: #fff url(../../images/img-computer.png) right center no-repeat;
  background-size: 33%; }

.bg-justine {
  background: #fff url(../../images/img-justine.png) 110% bottom no-repeat;
  background-size: auto 100%; }

.rounded-image {
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid #fff; }

.process-item {
  position: relative;
  margin: 1em auto; }
  .process-item .image {
    overflow: hidden;
    position: relative;
    margin: 0 1em 0 2.5em;
    height: 0;
    padding-bottom: 115%; }
    .process-item .image .number {
      color: #fff;
      font-size: 1.65em;
      line-height: 3em;
      height: 3em;
      width: 3em;
      text-align: center;
      border: 3px solid #fff;
      border-radius: 100%;
      position: absolute;
      top: 2em;
      left: -.5em; }
  .process-item .label {
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    position: absolute;
    top: 5em;
    left: -45px;
    font-size: 1.15em;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: left;
    width: 150px;
    transform: rotate(90deg); }
  .process-item .icon {
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    padding: 1.5em;
    background: #fff;
    opacity: .85;
    position: absolute;
    bottom: 2.5em;
    left: 0;
    max-width: none !important; }
    .process-item .icon img {
      width: 100px; }
  .process-item .text {
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
    position: relative;
    top: 0;
    padding: 3em;
    background: #fff;
    opacity: .85;
    margin: 3em 0 3em -4.5em; }

.process-container {
  position: relative; }
  .process-container:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 1.5rem;
    height: 100%;
    border-left: 1px dashed #c0c0c4; }
  .process-container .process-item {
    margin: 0 0 0 4em; }
    .process-container .process-item:before {
      -webkit-transition: 0.5s ease all;
      -moz-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      content: ' ';
      position: absolute;
      top: 45%;
      left: -3.5rem;
      height: 2rem;
      width: 2rem;
      border: 3px solid #596469;
      background: #596469;
      border-radius: 100%; }
    .process-container .process-item:nth-child(even) .image {
      margin: 0 2.5em 0 1em; }
      .process-container .process-item:nth-child(even) .image .number {
        right: -.5em;
        left: auto; }
    .process-container .process-item:nth-child(even) .label {
      right: -45px;
      left: auto; }
    .process-container .process-item:nth-child(even) .icon {
      right: 0;
      left: auto; }
    .process-container .process-item:nth-child(even) .text {
      order: -1;
      margin: 3em -4.5em 3em 0; }
    .process-container .process-item.active:before {
      background: #c0c0c4;
      border: 3px solid #c0c0c4; }
    .process-container .process-item.active .text {
      opacity: 1;
      top: -2em; }
    .process-container .process-item.active .icon {
      opacity: 1;
      bottom: 3em; }

.cta-rounded .bg-gray-rounded {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(closest-side at 50% 50%, #292929 99%, #DFEC53 99.01%) no-repeat;
  background-size: 110% 250%;
  background-position: left center; }
  .cta-rounded .bg-gray-rounded .button {
    display: inline-block !important;
    padding: 1.25em 4em;
    color: #fff;
    border: 2px solid green;
    line-height: 1.15em;
    text-transform: uppercase;
    font-size: .85em; }

.cta-rounded .cta-title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 2em;
  font-weight: 700;
  line-height: 2em; }
  .cta-rounded .cta-title strong {
    display: block;
    color: #fff;
    font-size: 1.3em; }

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0 0 24px 0;
  font-size: .85em; }
  .breadcrumb span {
    text-decoration: underline; }
  .breadcrumb a {
    text-decoration: none;
    color: #4a4949; }
    .breadcrumb a:hover {
      text-decoration: underline; }

[class*="bg-drk"], .dark {
  color: #fff; }

.bg-bubble {
  background: url(images/bg-txtbubble-w.png) no-repeat top left;
  background-size: contain; }

@-webkit-keyframes bounce {
  0% {
    top: -.5em; }
  50% {
    top: .5em; }
  100% {
    top: -.5em; } }

.prompt--next {
  position: absolute;
  z-index: 11;
  bottom: 1em;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400; }
  .prompt--next:hover {
    cursor: pointer; }
  .prompt--next .arrow {
    position: relative;
    -webkit-animation: bounce 3s infinite linear;
    -moz-animation: bounce 3s infinite linear;
    -o-animation: bounce 3s infinite linear;
    animation: bounce 3s infinite linear; }
    .prompt--next .arrow img {
      max-width: 2.5em; }

.selector-container .label {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle; }

.selector-container .selector {
  color: #fff;
  margin: 0 2em;
  display: inline-block;
  vertical-align: middle;
  height: 5em;
  padding: .25em 4em .25em 2em;
  text-align: center;
  border: 5px solid #fff;
  background: url(../../images/arr-dn.png) right center no-repeat;
  background-size: 3em;
  background-position: 96.5% center; }
  .selector-container .selector .options-container {
    position: relative;
    bottom: 0;
    -webkit-transition: ease all 1s;
    -moz-transition: ease all 1s;
    -o-transition: ease all 1s;
    transition: ease all 1s; }
    .selector-container .selector .options-container .option {
      -webkit-transition: ease all 0.25s;
      -moz-transition: ease all 0.25s;
      -o-transition: ease all 0.25s;
      transition: ease all 0.25s;
      text-transform: uppercase;
      font-size: 1.35em;
      font-weight: 400;
      padding: 1em 0;
      opacity: .5; }
      .selector-container .selector .options-container .option.selected {
        -webkit-transition: ease all 1s;
        -moz-transition: ease all 1s;
        -o-transition: ease all 1s;
        transition: ease all 1s;
        font-size: 1.9em !important;
        font-weight: 800;
        padding: .3em 0 !important;
        opacity: 1 !important; }
      .selector-container .selector .options-container .option:hover {
        cursor: pointer; }
  .selector-container .selector.active .option {
    opacity: .7; }
    .selector-container .selector.active .option:hover {
      font-size: 1.4em;
      opacity: .9; }

.slider {
  height: 100vh;
  overflow: hidden;
  background: url(../../images/img-kid-vid.jpg) center center no-repeat;
  background-size: cover;
  position: relative; }
  .slider .overlay {
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
    .slider .overlay.active {
      opacity: 1; }
  .slider #home_bg_vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    -webkit-transition: ease all 0.5s;
    -moz-transition: ease all 0.5s;
    -o-transition: ease all 0.5s;
    transition: ease all 0.5s; }
    .slider #home_bg_vid.blur {
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px); }
  .slider .slide {
    height: 100%;
    width: 100%;
    padding-bottom: 0 !important;
    display: flex;
    opacity: 1;
    position: relative;
    z-index: 10; }
    .slider .slide .container {
      align-self: center; }
  .slider .inactive {
    opacity: 0;
    left: 5em;
    z-index: -1; }

.slide-up {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  position: relative;
  opacity: 1;
  top: 0; }
  .slide-up.inactive {
    top: 10em;
    opacity: 0; }

.cta-content {
  opacity: .85; }
  .cta-content h2 {
    color: #fff; }
  .cta-content h1, .cta-content h3 {
    color: #4a4949; }

.testimonial {
  position: relative;
  padding: 0 2em; }
  .testimonial::before {
    content: '\201c';
    font-size: 20em;
    opacity: .3;
    color: #bdb6b0;
    position: absolute;
    top: -3rem;
    left: 2rem;
    z-index: -1;
    line-height: 1em; }
  .testimonial .text {
    padding: 0 0 0 1.5em;
    text-align: left;
    font-size: 1.15em;
    line-height: 2em; }
  .testimonial .author {
    padding: 1.5em 0 0 1.75em; }

.stars {
  letter-spacing: .1em;
  font-size: 2em; }

ul.slick-dots {
  display: block;
  margin: 0;
  padding: 0; }
  ul.slick-dots li {
    display: inline-block;
    padding: 0;
    margin: 6px;
    width: 1em;
    height: 1em;
    border: 1px solid #33424F;
    border-radius: 100%;
    background: none; }
    ul.slick-dots li.slick-active {
      background: #33424F; }
    ul.slick-dots li button {
      opacity: 0; }

.border-box {
  background: #fff;
  padding: 36px;
  border: 1px solid #4a4949;
  border-left: 0; }
  .border-box.firstofrow {
    border-left: 1px solid #4a4949; }
  .border-box.row {
    border-top: 0;
    border-left: 1px solid #4a4949; }

.after-content-links, .border-box {
  font-size: 0; }
  .after-content-links a, .after-content-links div, .border-box a, .border-box div {
    color: #4a4949;
    line-height: 2em;
    font-size: 15.3px;
    display: block; }
    .after-content-links a.btn, .after-content-links div.btn, .border-box a.btn, .border-box div.btn {
      display: inline-block; }
  .after-content-linksa:hover, .border-boxa:hover {
    background: #F8F8F8;
    border-color: #bdb6b0; }
  .after-content-links .box-item .title h2, .border-box .box-item .title h2 {
    vertical-align: bottom;
    color: #33424F;
    font-weight: bold;
    text-align: center;
    line-height: 1.15em;
    font-size: 1em;
    margin: 0 0 2em 0; }
  .after-content-links .box-item .title .image, .border-box .box-item .title .image {
    text-align: center;
    vertical-align: bottom;
    width: 35%;
    margin: 1em auto; }

.btn-outline-primary {
  border: 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background: #DFEC53 url(../../images/icon-plus.png) no-repeat;
  background-position: 1em center;
  background-size: 1.5em;
  border-radius: 50px;
  color: #33424F;
  padding: 1em 2em 1em 3em;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  margin: 2em .5rem 2em 0;
  font-size: .85em;
  letter-spacing: .15em;
  font-weight: 700;
  text-transform: uppercase; }
  .btn-outline-primary:hover {
    background: #33424F url(../../images/icon-plus.png) no-repeat;
    background-position: 1em center;
    background-size: 1.5em; }
  .btn-outline-primary.btn-orange {
    border: 1px solid transparent !important;
    background: #33424F; }
    .btn-outline-primary.btn-orange:hover {
      border: 1px solid #fff !important;
      background: #808285; }
  .btn-outline-primary.btn--get-started {
    min-width: 0;
    letter-spacing: 0;
    border: 0 !important;
    color: #fff !important;
    padding: .5em 1em;
    margin: 1em 0;
    background: #dfec53;
    background: #ec7153;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfec53, #ec7153);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfec53, #ec7153);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .btn-outline-primary.btn--get-started:hover {
      cursor: pointer;
      background: #c33816;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #b5c316, #c33816);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #b5c316, #c33816);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.dark .btn-outline-primary {
  border: 1px solid #fff; }
  .dark .btn-outline-primary:hover {
    display: inline-block; }

.shadowbox-pink {
  border: 1px solid #4a4949;
  background: #fff;
  padding: 3em;
  display: inline-block;
  margin: 1em;
  box-shadow: 10px 10px 0 #33424F; }

main {
  overflow: hidden; }

article {
  margin: 0 0 48px 0; }

footer .dark a {
  color: #fff; }

.info-block {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%; }

.dark {
  color: #fff; }

iframe {
  width: 80%;
  margin: auto; }

.services-list {
  padding: 8em 0;
  margin: 1em 0;
  background: #33424F url(/images/img-hands.jpg) top center no-repeat;
  background-size: contain; }

.newsletter-signup h3 {
  margin: 0; }

.footer-block a {
  display: block;
  color: #4a4949; }
  .footer-block a:hover {
    text-decoration: underline; }

.footer-block ul, .footer-block li {
  display: block;
  padding: 0;
  margin: 0; }
  .footer-block ul li, .footer-block li li {
    margin: 0 0 .5em 0; }

.footer-block .social-links {
  margin: 0; }
  .footer-block .social-links a {
    display: inline-block;
    color: #fff;
    padding: .5em .5em .5em 0; }
    .footer-block .social-links a i {
      font-size: 2em; }

.pagination a, .pagination span {
  color: #4a4949;
  display: inline-block;
  padding: 1em 1.25em 1em .75em;
  margin: 12px 0;
  height: 1em;
  line-height: 0;
  box-sizing: border-box;
  text-align: center; }
  .pagination a.page-numbers, .pagination span.page-numbers {
    width: 1em; }
  .pagination a.next, .pagination a.prev, .pagination span.next, .pagination span.prev {
    width: auto; }
  .pagination a:hover, .pagination span:hover {
    text-decoration: underline; }

.pagination span {
  color: #fff;
  background: #4a4949; }

.copyright-block {
  padding: .5em 0; }
  .copyright-block span {
    display: inline-block; }
  .copyright-block ul {
    padding: 0;
    margin: 0;
    display: block; }
    .copyright-block ul li {
      padding: 0;
      margin: 0 0 0 12px;
      display: inline-block; }
      .copyright-block ul li a {
        color: #4a4949; }
        .copyright-block ul li a:hover {
          text-decoration: underline; }

.sidebar {
  margin-top: 0;
  padding-top: 12px;
  padding-left: 36px; }
  .sidebar p a {
    font-weight: 400;
    font-size: .85em;
    line-height: 1.5em; }
    .sidebar p a:hover {
      border: 0; }
  .sidebar.sticky {
    background: #33424F;
    padding: .5em;
    position: fixed;
    top: 8em;
    right: 0;
    width: 11em; }
    .sidebar.sticky .categories, .sidebar.sticky .sidebar--section {
      padding-top: 1em !important;
      margin: 1em !important; }
    .sidebar.sticky a {
      color: #fff !important;
      opacity: .5; }
      .sidebar.sticky a:hover {
        opacity: 1; }

.sidebar--section {
  position: relative;
  border-bottom: 1px solid #bdb6b0; }
  .sidebar--section:last-child {
    border-bottom: 0; }
  .sidebar--section .links-container .open-container {
    padding: 0 0 12px 0; }
  .sidebar--section .show-hide {
    position: absolute;
    top: .25em;
    right: -1.5em;
    z-index: 9;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    line-height: .75em;
    text-align: center;
    font-weight: 700;
    padding: 5px;
    color: #fff;
    background: #33424F; }
    .sidebar--section .show-hide:hover {
      cursor: pointer;
      background: #4a4949; }

.section-links {
  margin: 24px 0; }
  .section-links a {
    color: #808285;
    font-size: 1.15em;
    font-weight: 700; }
    .section-links a:hover, .section-links a.active {
      border-bottom: 3px solid #33424F;
      color: #4a4949; }

.categories, .sidebar--section {
  margin: 1em 0 0 0;
  padding: 24px 0; }
  .categories a:hover, .sidebar--section a:hover {
    border-bottom: 3px solid #33424F;
    color: #4a4949; }
  .categories h5, .sidebar--section h5 {
    line-height: 1.15em;
    text-transform: none;
    color: #33424F; }
    .categories h5 a, .sidebar--section h5 a {
      margin: 0;
      padding: 0;
      color: #4a4949; }
  .categories ul, .sidebar--section ul {
    display: block;
    padding: 0;
    margin: 0 0 1em 0; }
  .categories li, .sidebar--section li {
    display: block;
    padding: 0;
    margin: 0;
    position: relative; }
    .categories li a, .sidebar--section li a {
      display: inline-block;
      border-bottom: 3px solid transparent;
      color: #808285;
      padding: 0;
      margin: .25em 0 .25em 1em;
      line-height: 1.15em; }
      .categories li a:before, .sidebar--section li a:before {
        content: '- ';
        position: absolute;
        left: 0;
        top: .25em; }

.shadow-btn-container {
  position: relative;
  display: inline-block; }
  .shadow-btn-container * {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .shadow-btn-container .box-btn {
    display: block;
    padding: .25em 2em;
    border: 1px solid #4a4949;
    text-align: center;
    background: none;
    color: #4a4949;
    min-width: 130px; }
  .shadow-btn-container .shadow {
    background: #33424F;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    z-index: -1; }
  .shadow-btn-container:hover .box-btn {
    color: #fff; }
  .shadow-btn-container:hover .shadow {
    background: #4a4949;
    color: #ffffff;
    top: 5px;
    left: 5px; }

.posts-container {
  position: relative; }
  .posts-container .post-types-filter {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    border: 1px solid red;
    top: 37vh;
    right: -100px; }
    .posts-container .post-types-filter ul {
      display: block;
      margin: 0;
      padding: 0; }
    .posts-container .post-types-filter li {
      display: inline-block;
      border-right: 1px solid #4a4949; }
      .posts-container .post-types-filter li:last-child {
        border: 0; }
    .posts-container .post-types-filter a {
      display: block;
      padding: .25em 1em; }
      .posts-container .post-types-filter a.inactive {
        color: red; }

.mobile-only {
  display: none; }

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1100px; }
  .bg-img-half {
    background-position-y: center !important; }
  .selector-container .label {
    font-size: 2.5em;
    font-weight: 800; }
  .selector-container .selector {
    height: 4em;
    padding: .25em 2.5em .25em 1.5em;
    background-size: 1.75em; }
    .selector-container .selector .options-container .option {
      font-size: 1.15em; }
      .selector-container .selector .options-container .option.selected {
        font-size: 1.5em !important;
        padding: .4em !important;
        opacity: 1 !important; }
      .selector-container .selector .options-container .option:hover {
        cursor: pointer; }
    .selector-container .selector.active .option:hover {
      font-size: 1.2em; } }

@media (max-width: 991px) {
  .bg-svg[class*='pos-'][class*='hom-'][class*='02'] {
    top: 5vh;
    left: -40vw;
    height: 100vh;
    width: 200vw; }
  .direction-lg-reverse {
    flex-direction: column-reverse; }
    .direction-lg-reverse .hug-right {
      text-align: right; }
      .direction-lg-reverse .hug-right img {
        max-width: 500px; }
  .sidebar--section {
    position: relative; }
    .sidebar--section .show-hide {
      right: -2em; }
  .selector-container .label {
    font-size: 2em;
    font-weight: 800; }
  .selector-container .selector {
    height: 3em;
    padding: .25em 4em .25em 1.5em;
    background-size: 1.75em; }
    .selector-container .selector .options-container .option {
      font-size: 1em; }
      .selector-container .selector .options-container .option.selected {
        font-size: 1.5em !important;
        padding: .2em !important;
        opacity: 1 !important; }
      .selector-container .selector .options-container .option:hover {
        cursor: pointer; }
    .selector-container .selector.active .option:hover {
      font-size: 1.1em; }
  .bg-img-half {
    padding: 24px 0;
    font-size: .9em; }
  .container {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box; }
  .after-content-links .box-item {
    width: 49.5%; }
  .btn-outline-primary {
    margin: 1rem 0 0 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); } }

@media (max-width: 768px) {
  .bg-svg[class*='pos-'] {
    position: absolute; }
    .bg-svg[class*='pos-'][class*='hom-'][class*='01'] {
      top: -52vh;
      right: 0;
      height: 120vh;
      width: 200vw;
      opacity: .65; }
    .bg-svg[class*='pos-'][class*='hom-'][class*='02'] {
      top: -5vh;
      left: -10vw;
      height: 100vh;
      width: 200vw; }
  img.extra-wide {
    right: -2rem; }
  .full-only {
    display: none; }
  .mobile-only {
    display: block !important; }
  .wrapper {
    padding: 2rem 1rem; }
  .container {
    padding: 0 1rem; }
  .content-container {
    padding: 2rem 1rem;
    margin: .25rem; }
    .content-container .content-container {
      padding: 0;
      margin: 0;
      box-shadow: none; }
  .big-title {
    font-size: 2.85em; }
    .big-title span {
      display: inline; }
  .center-mobile {
    text-align: center;
    margin: 1em 0 2em 0; }
    .center-mobile span {
      display: inline; }
    .center-mobile .icon {
      max-width: 6em; }
    .center-mobile hr {
      margin: 2em auto; }
      .center-mobile hr.mobile-only {
        margin: 2em auto 3em auto; }
  .bg-justine {
    background: #fff url(../../images/img-justine.png) center top no-repeat;
    background-size: auto 20em;
    padding-top: 22em !important; }
  .bg-computer {
    background: #fff; }
  .selector-container .label {
    font-size: 2.5em; }
  .process-container .process-item:before {
    left: -3.5em;
    top: 10%; }
  .process-container .process-item .text {
    order: 1 !important;
    margin: 2em 0 !important; }
  .process-container .process-item .image {
    margin: 0 1em 0 2.5em !important; }
    .process-container .process-item .image .number {
      right: auto !important;
      left: -.5em !important; }
  .process-container .process-item .label {
    left: -45px !important;
    right: auto !important; }
  .process-container .process-item .icon {
    left: 0 !important;
    right: auto !important; }
  .slider {
    min-height: 0; }
    .slider .slide {
      padding: 5em 0;
      padding-bottom: 0 !important;
      position: relative;
      top: 0;
      margin: 0 0 -10em 0; }
      .slider .slide .slide--content a.btn.btn-outline-primary {
        border-color: transparent;
        color: #fff;
        background: #33424F; }
  .bg-img-half {
    background: none !important;
    font-size: 1em; }
  .content-wrapper {
    background: #fff; }
  .content-heading {
    padding: 1.5em; }
    .content-heading strong {
      display: block;
      font-size: 2.5em; }
  .content-subheading strong {
    font-size: 1.5em; }
  .btn-outline-primary {
    margin: 0 1em 1rem 0; }
  .border-box {
    font-size: 18px;
    background: #fff;
    box-sizing: border-box;
    padding: 24px;
    border-left: 1px solid #4a4949; }
    .border-box.row {
      border-top: 1px solid #4a4949;
      margin: 0 -15px; }
  .js-slider {
    margin: 0; }
    .js-slider .slick-list {
      padding: 24px 0 !important; }
    .js-slider .slide.slick-center {
      transform: scale(1);
      box-shadow: none; } }

@media (max-width: 576px) {
  .sidebar {
    border-left: 0;
    border-top: 1px solid #ccc;
    padding: 24px; }
  .slider .slide .slide--content h3 {
    margin: 0 0 24px 0;
    font-size: 2.75em;
    line-height: 1.15em;
    font-weight: 800; }
    .slider .slide .slide--content h3 strong {
      font-style: normal;
      font-weight: normal;
      font-family: "Dosis", sans-serif;
      text-transform: lowercase;
      display: block;
      font-size: .85em;
      line-height: 1.15em; }
  .testimonial {
    padding: 0 1em;
    margin: 2em 0; }
    .testimonial .text {
      font-style: italic;
      padding: 0 0 0 1.5em;
      text-align: left;
      font-size: 1em;
      line-height: 2em; }
      .testimonial .text:before, .testimonial .text:after {
        font-size: 1.75em; }
  .parallax-bg {
    padding: 48px 0 !important; }
  .double-diag:before {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  .double-diag:after {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .container.has-sidebar {
    padding: 1em 1em 0 1em; }
    .container.has-sidebar article {
      margin: 0 12px 48px 24px; }
  .btns-container {
    display: none; }
  .after-content-links .box-item {
    width: 100%; }
  .border-box {
    margin: 12px auto; } }
